.wrap {
    height: 100%;
    /* 각 섹션이 화면 전체 높이를 차지 */
    display: flex;
    /* Flexbox 사용 */
    align-items: center;
    /* 세로 중앙 정렬 */
    justify-content: center;
    /* 가로 중앙 정렬 */
}

.backgroundbox {
    background-color: #579ef03a;
    /* 첫 번째 섹션 배경색 */
    padding: 0 5px;
    /* 좌우 패딩 추가 (선택 사항) */
    display: flex;
    /* Flexbox 사용 */
    align-items: center;
    /* 세로 중앙 정렬 */
    justify-content: center;
    /* 세로 중앙 정렬 */
    height: 60vh;
    /* 내용에 맞게 높이 조정 */
    width: 40vw;
    margin-top: 30px;
    border-radius: 10px;
    border: 0.2px solid rgb(80, 80, 80);
}
.inputmargin {
    margin-bottom: 6px;
}

.wrap2 {
    position: relative; /* 부모 요소를 상대적으로 설정 */
    /* Flexbox 사용 */
    width: 100%;
    height: 100%;
}

.tuty {
    background-image: url('../assets/tuty.png');
    background-repeat: no-repeat;
    /* 이미지 반복 방지 */
    background-size: contain;
    /* 이미지 비율 유지하며 크기 조정 */
    width: 50vw;
    /* 너비를 50%로 설정 */
    height: 50vh;
    /* 전체 높이 */
    top: 0; /* 상단에 위치 */
    left: 140px; /* 왼쪽에 위치 */
    position: absolute; 
    top: 50px; /* 50px 만큼 아래로 이동 */
    transition: transform 0.3s ease; /* 변환 효과 추가 */

}

.tuter {
    background-image: url('../assets/tuter.png');
    background-repeat: no-repeat;
    /* 이미지 반복 방지 */
    background-size: contain;
    /* 이미지 비율 유지하며 크기 조정 */
    width: 52vw;
    /* 너비를 50%로 설정 */
    height: 46vh;
    /* 전체 높이 */
    position: absolute; 
    top: 0; /* 상단에 위치 */
    right: -40px; /* 오른쪽에 위치 */
    top: 65px; /* 50px 만큼 아래로 이동 */
    transition: transform 0.3s ease; /* 변환 효과 추가 */
}

.tuty:hover,
.tuter:hover {
    transform: scale(1.1); /* 마우스를 올렸을 때 커짐 */
}


.fe {
    background-image: url('../assets/choicefe.png');
    background-repeat: no-repeat;
    /* 이미지 반복 방지 */
    background-size: contain;
    /* 이미지 비율 유지하며 크기 조정 */
    width: 52vw;
    /* 너비를 50%로 설정 */
    height: 46vh;
    /* 전체 높이 */
    transition: transform 0.3s ease; /* 변환 효과 추가 */

}

.be {
    background-image: url('../assets/choicebe.png');
    background-repeat: no-repeat;
    /* 이미지 반복 방지 */
    background-size: contain;
    width: 52vw;
    /* 너비를 50%로 설정 */
    height: 46vh;
    /* 전체 높이 */
    transition: transform 0.3s ease; /* 변환 효과 추가 */
}

.fe:hover,
.be:hover {
    transform: scale(1.1); /* 마우스를 올렸을 때 커짐 */
}

.wrapBox {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 (필요에 따라 조정) */
    height: 100vh; /* 부모 컨테이너 높이 */
}

.agreeBox {
    background-color: #1780f93a;
    padding: 0 3px;
    /* 좌우 패딩 추가 (선택 사항) */
    display: flex;
    /* Flexbox 사용 */
    align-items: center;
    /* 세로 중앙 정렬 */
    justify-content: center;
    /* 세로 중앙 정렬 */
    height: 20vh;
    width: 25vw;
    margin-top: 20px;
    border-radius: 10px;
    border: 0.2px solid rgb(80, 80, 80);
}

.line2 {
    border-bottom: 0.5px solid #aaa9a97a; /* 줄 색상 및 두께 */
    width: 100%; /* 줄의 너비 설정 */
}

.line1 {
    border-bottom: 0.5px solid #aaa9a97a; /* 줄 색상 및 두께 */
    width: 100%; /* 줄의 너비 설정 */
}